<div class="container mat-title-large">
  <div>
    <h1>Simulação de Investimento CDB</h1>
    <form (ngSubmit)="onSubmit()" #cdbInvSimulationForm="ngForm">

      <div class="form-group">
        <label>CDI Anual hoje:</label>
        <span> {{model.CDIToday | currency: ' '}}%</span>
        <br />
        <label>Oferta Banco ABC:</label>
        <span> {{model.paidProfitability | currency: ' '}}%</span>
      </div>

      <div class="form-group">
        <label for="name">Investimento Inicial</label>
        <input type="number" class="form-control" id="InitialInvestment" placeholder="0,00" step='0.25' required min="1" max="2000000" [(ngModel)]="model.InitialInvestment" name="InitialInvestment" #InitialInvestment="ngModel" />
        <div [hidden]="InitialInvestment.pristine" *ngIf="InitialInvestment.errors?.['required']" class="alert alert-danger">
          O valor do investimento inicial é obrigatório.
        </div>
        <div *ngIf="InitialInvestment.errors?.['min']" class="alert alert-danger">
          O valor do investimento inicial não poderá ser menor que R$ 1,00.
        </div>
        <div *ngIf="InitialInvestment.errors?.['max']" class="alert alert-danger">
          O valor do investimento inicial não poderá ser maior que R$ 2.000.000,00.
        </div>
      </div>

      <div class="form-group">
        <label for="name">Tempo total de investimento em meses</label>
        <input type="number" class="form-control" id="TimeInvestmentInMonth" placeholder="0" required min="2" max="360" [(ngModel)]="model.TimeInvestmentInMonth" name="TimeInvestmentInMonth" #TimeInvestmentInMonth="ngModel" />
        <div [hidden]="TimeInvestmentInMonth.pristine" *ngIf="TimeInvestmentInMonth.errors?.['required']" class="alert alert-danger">
          O tempo total de investimento é obrigatório.
        </div>
        <div *ngIf="TimeInvestmentInMonth.errors?.['min']" class="alert alert-danger">
          O tempo total de investimento não deverá ser menor que 2 mês.
        </div>
        <div *ngIf="TimeInvestmentInMonth.errors?.['max']" class="alert alert-danger">
          O tempo total de investimento não deverá ser maior que 360 meses.
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!cdbInvSimulationForm.form.valid" (click)="getSimulation(); cdbInvSimulationForm.reset()">
        Simular
      </button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <mat-tab-group>
      <mat-tab label="CDI: 0,9%">
        <h2>Investimento CDB</h2>
        <div class="row">
          <label class="col-xs-4">Tipo</label>
          <div class="col-xs-8">CDB</div>
        </div>
        <div class="row">
          <label class="col-xs-4">Rentabilidade No Período</label>
          <div class="col-xs-8">{{ model.fixedResultSimulation.performance | currency: 'R$ '}}</div>
        </div>
        <div class="row">
          <label class="col-xs-4">Rentabilidade no Período com desconto IR</label>
          <div class="col-xs-8">{{ model.fixedResultSimulation.profitFreeIR | currency: 'R$ '}}</div>
        </div>
        <div class="container">
          <div class="card list-car">
            <h4 class="card-header">Previsão Mensal</h4>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Resgate</th>
                    <th scope="col">IR</th>
                    <th scope="col">Rentabilidade</th>
                    <th scope="col">Rentabilidade com desconto IR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let performance of model.fixedResultSimulation.performanceByMonth">
                    <td>{{performance.prevision | date : 'dd/MM/yyyy'}}</td>
                    <td>{{performance.tax * 100 | currency: ' '}}%</td>
                    <td>{{performance.performance | currency: 'R$ '}}</td>
                    <td>{{performance.profitFreeIR | currency: 'R$ '}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="CDI Vigente">
        <h2>Investimento CDB</h2>
        <div class="row">
          <label class="col-xs-4">Tipo</label>
          <div class="col-xs-8">CDB</div>
        </div>
        <div class="row">
          <label class="col-xs-4">Rentabilidade No Período</label>
          <div class="col-xs-8">{{ model.resultSimulation.performance | currency: 'R$ '}}</div>
        </div>
        <div class="row">
          <label class="col-xs-4">Rentabilidade no Período com desconto IR</label>
          <div class="col-xs-8">{{ model.resultSimulation.profitFreeIR | currency: 'R$ '}}</div>
        </div>
        <div class="container">
          <div class="card list-car">
            <h4 class="card-header">Previsão Mensal</h4>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Resgate</th>
                    <th scope="col">IR</th>
                    <th scope="col">Rentabilidade</th>
                    <th scope="col">Rentabilidade com desconto IR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let performance of model.resultSimulation.performanceByMonth">
                    <td>{{performance.prevision | date : 'dd/MM/yyyy'}}</td>
                    <td>{{performance.tax * 100 | currency: ' '}}%</td>
                    <td>{{performance.performance | currency: 'R$ '}}</td>
                    <td>{{performance.profitFreeIR | currency: 'R$ '}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
